body {
  margin: 0;
  padding: 0;
}

.footer {
  width: 90%;
  background-color: #212F3C;
  padding: 0;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.footer h2 {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid white;
  font-size: 115%;
}

.footer p {
  font-size: 90%;
  margin-top: 14px;
  margin-bottom: 14px;
}

.cont1, .cont2, .cont3 {
  width: 25%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.loca, .tel, .mail {
  padding: 0px;
}

.cont1 img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 0px;
  padding: 6px;
  border: 1px solid white;
  border-radius: 30px;
  background-color: #263256;
  vertical-align: middle;
}

.cont1 a {
  color: white;
}

.cont2 img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cont2 a {
  font-size: 1.2em;
  color : white;
}
