body {
  padding: 0;
  margin: 0;
}

nav {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 0;
  padding: 0;
  width: 100%;
  background: #212F3C;
  position: fixed;
  top: 0px;
}

nav > ul {
  margin: 0;
  padding: 0;
}


nav > ul > li {
  float: left;
  position: relative;
}

nav li {
  list-style-type: none;
  padding-right: 20px;
  padding-left: 20px;
}

.sebmenu {
  display : none;
}

nav > ul::after {
  content: "";
  display: block;
  clear: both;
}

nav a {
  display: inline-block;
  text-decoration: none;
}

nav > ul > li > a {
  padding: 20px 30px;
  color: white;
}


nav li:hover .sebmenu {
  display: inline-block;
  position : absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
  width: 100%;
}

.sebmenu li {
  border-bottom: 1px solid #CCC;
}

.sebmenu li a {
  padding: 15px 30px;
  font-size: 13px;
  color : WHITE;
}

.accueil:hover {
  background-color: #E74C3C;
}

.annonces:hover {
  background-color: #E74C3C;
  height: 59px;
}

.portfolios:hover {
  background-color: #E74C3C;
  height: 59px;
}

.compte:hover {
  background-color: #E74C3C;
}

.deco:hover {
  background-color: #E74C3C;
}

.menu-inscription:hover {
  background-color: #E74C3C;
}

.menu-inscription .sebmenu {
  border-top: 1px solid white;
  background-color: #212F3C;
}

.demande .sebmenu {
  border-top: 1px solid white;
  background-color: #212F3C;
}

.sebmenu li:hover a {
  color : #EEE;
}

.menu-inscription .sebmenu li:hover {
  background-color: #E74C3C;
}

.demande {
  background-color: #FFA200;
  float: right;
  height: 59px;
  padding-left: 0px;
  padding-right: 0px;
}

.demande:hover {
  height: 58px;
}

.accueil {
  font-weight: bold;
}

.connexion {
  float: right;
}

.connexion:hover {
  background-color: #E74C3C;
  height: 59px;
}

.menu-inscription {
  float: right;
}

.compte {
  float: right;
}

.deco {
  float: right;
}

.menu-inscription {
  padding-left: 25px;
  padding-right: 25px;
  height: 58px;
}
