body {
  margin: 0;
  padding: 0;
}


#header_compte_client {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 50%;
  margin-left: 25%;
  background-color: grey;
  padding: 0;
  position: fixed;
  top: 59px;
  z-index: 3;
}

#header_compte_client > ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}


#header_compte_client  > ul > li {
  float: left;
  position: relative;
  background-color: grey;
}

#header_compte_client  li {
  list-style-type: none;
}

#header_compte_client > ul::after {
  content: "";
  display: block;
  clear: both;
}

#header_compte_client a {
  display: flex;
  text-decoration: none;
}

#header_compte_client> ul > li > a {
  padding: 20px 30px;
  color: white;
}

#header_compte_client a:hover
 {
  background-color: #E74C3C;
}
