body {
  margin: 0;
  padding: 0;
}

#header_compte_graphiste {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 50%;
  margin-left: 25%;
  background-color: #212F3C;
  padding: 0;
  position: fixed;
  top: 59px;
  z-index: 3;
}

#header_compte_graphiste > ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}


#header_compte_graphiste  > ul > li {
  float: left;
  position: relative;
}

#header_compte_graphiste  li {
  list-style-type: none;
  padding-right: 15px;
  padding-left: 15px;
}

#header_compte_graphiste > ul::after {
  content: "";
  display: block;
  clear: both;
}

#header_compte_graphiste a {
  display: inline-block;
  text-decoration: none;
}

#header_compte_graphiste> ul > li > a {
  padding: 20px 30px;
  color: white;
}

#header_compte_graphiste a:hover
 {
  background-color: #E74C3C;
}
