body {
  margin: 0;
  padding: 0;
}

#header_compte_graphiste {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 50%;
  margin-left: 25%;
  background-color: grey;
  padding: 0;
  position: fixed;
<<<<<<< HEAD
  top: 19px;
  z-index: 1;
  border-radius:0px 0px 40px 40px;
}
#header_compte_graphiste:hover {
  top: 59px;
=======
  top: 59px;
  z-index: 3;
>>>>>>> 85b3949c619f7efca7eea20523c94909cccf6401
}

#header_compte_graphiste > ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}


#header_compte_graphiste > ul > li {
  float: left;
  position: relative;
  background-color: grey;
}

#header_compte_graphiste li {
  list-style-type: none;
  padding-right: 15px;
  padding-left: 15px;
  border-radius:0px 0px 20px 20px;
}

#header_compte_graphiste > ul::after {
  content: "";
  display: block;
  clear: both;
}

#header_compte_graphiste a {
  display: inline-block;
  text-decoration: none;
}

#header_compte_graphiste> ul > li > a {
  padding: 20px 30px;
  color: white;
}

#header_compte_graphiste a:hover
 {
  background-color: #E74C3C;
}
