body {
  margin-top: 59px;
}

img {
  width: 100%;
}

.container {
  width: 90%;
  margin-left: 5%;
}

h1 {
  color: red;
}

h2 {
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: red;
}
