html {
<<<<<<< HEAD
background-image: url("../model/data/img/baniere.jpg");

=======
background-image:url("../model/data/img/baniere.jpg");
>>>>>>> 4cca61f427225a76da4752ce328ab455599f8599
}

div{
  text-align: center;
}

div p{
  font-family: 'Roboto', sans-serif;
}
